@import url(https://fonts.googleapis.com/css?family=Lobster);
/*Without changing anything in the html, add the following styles using advanced selectors*/


/* Give the Header element a background color */
header{
  background: pink;
}

/* Center Everything in Header and footer */
header,footer{
  text-align: center;
}

/* All Text to Helvetica */
*{
  font-family: Helvetica;
}

/* All links colors gray*/
a{
  color: gray;
}

/* All links hover color red*/
a:hover{
  color: red;
}

/* All Links Visted Color black*/
a:visited {
    color: black;
}

/*Footer Disclaimer Text to be .5 em*/
#disclaimer{
  font-size: .5em;
}

/* Remove Bullet Points from Header Navigation Links */
header ul{
  list-style-type: none;
}

/* All Post's Comment Links Italicized, Orange and Remove the Underline */

a[href="#comments"]{
  font-style: italic;
  color: orange;
  text-decoration: none;
}
/* All Post's Comment Links Show Underline on Hover */

a[href="#comments"]:hover{
  text-decoration: underline;
}

/* All Post's Author's Links Bold and Blue, with no Underline */

a:nth-of-type(1){
  color: red;
}
/*assumption: first-child always find the largest class? is it right?*/

/* Article Paragraph Text should have line height of 200%*/

article{
   line-height: 200%;
}

/* The First Letter of each Article be 2em */
section.post-content p:nth-of-type(1):first-letter {
  font-size: 2em;
}

/* The First Image in every Article should have Rounded Corners*/
section.post-content img:nth-of-type(1){
  border-radius:10px;
}

/* The Top-Most Top Cat Should have a Golden Background */
#top-cats section:nth-of-type(1){
  background:gold;
}

/* The 2nd-Most Top Cat Should have a Silver/gray Background */
#top-cats section:nth-of-type(2){
  background:silver;
}

/* The 3rd-Most Top Cat Should have a Bronze/brown Background */
#top-cats section:nth-of-type(3){
  background:brown;
}

/* Every other Article's Post-Content Background Color to a Light Grey */
.post-content p:nth-of-type(odd){
  background:lightgrey;
}

/* All Top Kitten's Profile Photos Rounded */
#top-cats img{
  border-radius:10px;
}

/*** BONUS ***/

/* Add a cat emoji before a Cat's Name (in the heading content)*/
/*See inside the html:
<link href="https://afeld.github.io/emoji-css/emoji.css"
<i class="em em-cat">*/

/* Top-most Top Cat has a trophy emoji before name */
/*See inside the html:
<link href="https://afeld.github.io/emoji-css/emoji.css"
<i class="em em-trophy"></i>*/

/* Use Google Fonts to Change h1 & h2 fonts to Lobster */

h1,h2{
  font-family:lobster;
}
