/*Without changing anything in the html, add the following styles using advanced selectors*/


/* Give the Header element a background color */


/* Center Everything in Header  and footer */


/* All Text to Helvetica */


/* All links colors gray*/


/* All links hover color red*/


/* All Links Visted Color black*/


/*Footer Disclaimer Text to be .5 em*/


/* Remove Bullet Points from Header Navigation Links */


/* All Post's Comment Links Italicized, Orange and Remove the Underline */


/* All Post's Comment Links Show Underline on Hover */


/* All Post's Author's Links Bold and Blue, with no Underline */


/* Article Paragraph Text should have line height of 200%*/


/* The First Letter of each Article be 2em */


/* The First Image in every Article should have Rounded Corners*/


/* The Top-Most Top Cat Should have a Golden Background */


/* The 2nd-Most Top Cat Should have a Silver/gray Background */


/* The 3rd-Most Top Cat Should have a Bronze/brown Background */


/* Every other Article's Post-Content Background Color to a Light Grey */


/* All Top Kitten's Profile Photos Rounded */


/*** BONUS ***/

/* Add a cat emoji before a Cat's Name (in the heading content)*/


/* Top-most Top Cat has a trophy emoji before name */


/* Use Google Fonts to Change h1 & h2 fonts to Lobster */
