/*Without changing anything in the html, add the following styles using advanced selectors*/


/* Give the header element a background color */


/* Center everything in the header and footer */


/* All text to Helvetica */


/* All links default color is gray*/


/* All links on hover color red*/


/* All Links visted color black*/


/* Footer disclaimer text to be .5 em*/


/* Remove bullet points from header navigation links */


/* All Post's Comment Links Italicized, Orange and Remove the Underline */


/* All Post's Comment Links Show Underline on Hover */


/* All Post's Author's Links Bold and Blue, with no Underline */


/* Article Paragraph Text should have line height of 200% */


/* The First Letter of each Article be 2em */


/* The First Image in every Article should have Rounded Corners*/


/* The First Top Cat Section (check the bottom of the HTML file) should have a Golden Background */


/* The 2nd Top Cat Section Should have a Silver/gray Background */

/* The 3rd-Most Top Cat Should have a Bronze/brown Background
   Note: the HTML for this one is a little odd! This is intentional! */

/* Every other Article's Post-Content Background Color to a Light Grey */


/* All Top Kitten's Profile Photos Rounded */


/*** BONUS ***/

/* Add a cat emoji before a Cat's Name (in the heading content)*/


/* Top-most Top Cat has a trophy emoji before name */


/* Use Google Fonts to change h1 & h2 fonts to Roboto Slab */
